.cover {
    background: url('/assets/img/room.jpg') center;
    background-size: cover;
    min-height: 40rem;
    height: auto;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding-top: 1rem;
}

.atas ul,
li {
    padding-left: 15px;
    font-size: 22px;
}

.bawah {
    padding-top: 40px;
}

.card {
    background-color: black;
}

.pilih-selera button {
    margin: 5px;
}
